@use '../../styles/abstracts/variables' as *;

.intro {
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin-top: 120px;
}

.intro__image {
  position: absolute;
  left: 50%;
  top: 50%;
  width: min(100% - 34px, 1390px);
  margin-inline: auto;
  display: block;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.intro__content {
  position: relative;
  z-index: 1;
  display: grid;
  width: min(100%, 420px);
  justify-items: center;
  margin-top: 430px;
  text-align: center;
}

.intro__title {
  color: $color-ink;
  margin-bottom: 32px;
}

.intro__content p {
  max-width: 365px;
  color: $color-ink;
}

@media (width <= 760px) {
  .intro {
    min-height: 600px;
    padding-block: 80px;
  }

  .intro__image {
    width: 820px;
  }

  .intro__content {
    margin-top: 198px;
  }
}
