@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.intro {
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin-top: 120px;
  margin-bottom: 160px;

  @include r(1200) {
    margin-top: 96px;
  }

  @include r(992) {
    margin-bottom: 96px;
  }
}

.intro__image {
  position: absolute;
  left: 50%;
  top: 50%;
  width: min(100% - 34px, 1390px);
  margin-inline: auto;
  display: block;
  pointer-events: none;
  transform: translate(-50%, -50%);
  @include r(992) {
    top: 47%;
  }
  @include r(768) {
    top: 42%;
  }
  @include r(468) {
    top: 39%;
  }
}

.intro__content {
  position: relative;
  z-index: 1;
  display: grid;
  width: min(100%, 420px);
  justify-items: center;
  margin-top: 430px;
  text-align: center;
  @include r(1300) {
    margin-top: 370px;
  }
  @include r(1200) {
    margin-top: 330px;
  }
  @include r(992) {
    margin-top: 260px;
  }
}

.intro__title {
  color: $color-ink;
  margin-bottom: 32px;
}

.intro__content p {
  max-width: 365px;
  color: $color-ink;
}

@media (max-width: 1300px) {

}

@media (width <= 760px) {
  .intro__image {
    width: 820px;
  }
}

@media (max-width: 468px) {
  .intro__image {
    width: 730px;
  }
}
