@use '../../styles/abstracts/mixins' as *;

.button {
  @include flex-center;
  gap: 8px;
  border-radius: 999px;
  padding: 14px 20px;
  outline-offset: 4px;
  outline: 2px solid transparent;
  line-height: 1;
  transition:
    background .3s ease,
    transform .3s ease,
    outline .3s,
    box-shadow .3s ease;

  &--dark {
    @include gradient-pill-border(#2a1b00);
    border-color: #5c451e;
    color: #fff5df;
    box-shadow: inset 0 0 5px 4px rgb(255 186 49 / 11%);

    &:hover {
      background:
        linear-gradient(rgb(42 27 0 / 96%), rgb(42 27 0 / 96%)) padding-box,
        linear-gradient(105deg, #ffffff 0%, #6f6c67 50%, #ffffff 100%) border-box;
      box-shadow: inset 0 0 12px 4px rgb(255 186 49 / 32%);
    }

    &:focus-visible {
      outline-color: #2a1b00;
    }
  }

  &--light {
    @include gradient-pill-border(#fff5df);

    color: #20170f;

    &:hover {
      box-shadow: inset 0 0 12px 4px rgb(255 186 49 / 18%);
    }
  }
}
