@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/variables' as *;

.legal-document {
  min-height: 100svh;
  padding: 160px 0;
  background: $color-sun;
  color: $color-ink;
}

.legal-document__container {
  width: min(100% - 32px, 864px);
  margin-inline: auto;
}

.legal-document__section {
  display: grid;
  gap: 40px;

  & + & {
    margin-top: 64px;
  }

  h1,
  h2 {
    @include section-title-small;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    color: $primary1000;
    letter-spacing: -0.02em;
  }
}

@media (width <= 760px) {
  .legal-document {
    padding-top: 132px;
  }
}
